# Konfigurasi Database (Ganti sesuai dengan konfigurasi lokal Anda)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=spk_sampah # Nama database yang Anda buat di phpMyAdmin/MySQL
DB_USER=root       # Biasanya "root" untuk XAMPP
DB_PASS=           # Biarkan kosong jika tidak ada password di XAMPP

# Konfigurasi Server Backend
PORT=5000

# Konfigurasi Keamanan (Ubah ini di environment production)
JWT_SECRET=rahasia_super_aman_untuk_aplikasi_anda
JWT_EXPIRES_IN=24h
